/*BUTTON*/
button, .btn, .btn-primary {
    border: none;
    border-radius: unset;
    background-color: var(--main-text-color);
    color: white;
}

button:disabled, .btn:disabled, .btn-primary:disabled {
    background-color: var(--input-text-color);
    color: white;
}

button:not([disabled]):hover, .btn:not([disabled]):hover, .btn-primary:not([disabled]):hover {
    background-color: white;
    color: var(--main-text-color);

    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

    transition: color .3s ease-in-out, background-color .3s ease-in-out, box-shadow .3s ease-in-out;
}

button:hover, .btn:hover, .btn-primary:hover {

}



/*INPUT*/

input, .form-group input {
    height: 1.8rem;
    border-radius: unset;
    border: none;
    color: var(--input-text-color);
    border-bottom: 0.1rem solid var(--input-text-color);
    background-color: unset;
}

input::placeholder, .form-group input::placeholder {
    color: var(--input-text-color);
}


input:focus, .form-group input:focus {
    color: var(--main-text-color);
    border-bottom: 0.1rem solid var(--main-text-color);


    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 43%, rgba(255, 255, 255, 0) 100%);

    -webkit-box-shadow: 0 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 0 5px 5px -5px rgba(34, 60, 80, 0.6);

    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, background .15s ease-in-out;
}

input:focus::placeholder, .form-group input:focus::placeholder {
    color: var(--main-text-color);
}

/*SELECT*/

select, .form-group select {
    height: 1.8rem;
    border-radius: unset;
    border: none;
    color: var(--input-text-color);
    border-bottom: 0.1rem solid var(--input-text-color);
    background-color: unset;
}

select::placeholder, .form-group select::placeholder {
    color: var(--input-text-color);
}

select:focus, .form-group select:focus {
    color: var(--main-text-color);
    border-bottom: 0.1rem solid var(--main-text-color);
    background-color: unset;

    -webkit-box-shadow: 0 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 0 5px 5px -5px rgba(34, 60, 80, 0.6);

    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

select:focus::placeholder, .form-group select:focus::placeholder {
    color: var(--main-text-color);
}



