@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;500;700;900&display=swap');
@import url(//db.onlinewebfonts.com/c/56e51b15f9bcb363331159989c474c45?family=TradeGothicforNike365-BdCn);

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;500;700;900&display=swap');


:root {
    --main-text-color: #2a2a2a;
    --main-bg-color: #ececec;
    --input-active-text-color: #565656;
    --input-text-color: #797979;
    --input-error-color: #fc4b4b;
}


* {
    margin: 0;
    padding: 0;
    /*font-family: 'League Spartan', sans-serif;*/
    /*font-family: 'TradeGothicforNike365-BdCn, Helvetica', sans-serif;*/
    font-family: 'League Spartan', sans-serif;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
}

body{
    background-color: var(--main-bg-color);
}

