.authentication {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.46);

    position: fixed;
    z-index: 1;
    top: 0;
    overflow: hidden;
}

.authentication-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: auto;
    min-height: 60vh;
    background-color: white;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: auto;
    min-height: 60vh;
    margin: 3rem 0 3rem 0;
}

form h1{
    font-weight:600;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: -0.1rem;
}

.form-group {
    min-width: 80%;
}

.form-group input {
    color: rgba(0, 0, 0, 0.45);
    border-radius: unset;
}

.input-error {
    color: #c7391f;
}

.form-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50%;

}

.form-footer button {
    font-size: 1rem;
}

.form-footer button:disabled {
    cursor: no-drop;
}


.form-footer a {
    padding-left: 1rem;
    font-size: 1rem;
}
