header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;

    font-size: 0.8rem;

    color: var(--main-text-color);
    padding: 0 1rem 0 1rem;
}

#header-logo a {
    color: unset;
}

#header-authentication {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-authentication a {
    color: unset;
    padding-left: 1rem;
}